<!doctype html>
<html lang="en">

<head>
   {{>headerlinks}}
    <title>Weather App</title>
</head>

<body>
    <!-- Start navbar -->
    {{>navbar}}
    <!-- End navbar -->

    <!-- Start Header -->
    <div class="container-fluid mian_header">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                
                    <!-- Left side div -->
                    <div class=" main_header_left main_header_right align-items-center">
                        <figure class="">
                            <img class="img-fluid" src="images/404.png" alt="">
                        </figure>
                        <h1>{{errmsg}}</h1>
                        <a href="/" ><button>Go Back</button></a>
                    </div> 
            </div>
        </div>
    </div>
    <!-- End Header -->


    <!-- Start Footer  -->
    {{>footer}}
    <!-- End Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>